.btn { 
  padding: .2rem 3rem;
  border-radius: 4rem;
  text-align: center;
}
.l-heading {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

/*Home*/
#home {
  height: 100vh;
  background: var(--neutral-color-light) url(../img/bg-hero-mobile.svg) no-repeat center center/cover;
}
.home__bar--logo img {
  max-width: 70%;
  height: auto;
}

.home__content {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home__content--text {
  align-items: center;
}
.home__content--button {
  max-width: 80%;
}
